/* Объявим переменные */
:root {
--logo-color: #2196F3;
--text-color: #212121 ;
--bg-color-main: #2F303A ;
--bg-color-secondary: #F5F4FA ;
--contact-color: #757575 ;
--foot-adress: rgba(255, 255, 255, 0.6);
}

/* глобальный стиль переменной */
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    color: var(--text-color);
}
.nopoint {
    list-style: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}